@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Google Fonts */
.font-raleway {
    font-family: "Raleway", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Banner Section */
/* #bg-custom {
    border-radius: 32px;
    background-color: linear-gradient(180.00deg, rgba(3, 7, 18, 0.5), rgba(3, 7, 18, 0) 100%);
} */
